@import '../../styles/index';

.button-container {
  position: relative;
  width: 100%;
  margin-top: @mar-m;
  margin-bottom: @mar-l;
}

.button {
  color: @white;
  background-color: @purple-light;
  width: 100%;
  line-height: 2rem;

  border: 1px solid @purple-light;
  border-radius: 0.25rem;
  box-shadow: @black-4 0 0 5px;
}

.button-error {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: @mar-s;
  font-size: @font-ms;
  color: @red;
}
