@import '../../styles/index';

.button {
  color: @white;
  background-color: @purple-light;
  width: 100%;
  line-height: 2rem;
  margin-top: @mar-m;
  margin-bottom: @mar-l;

  border: 1px solid @purple-light;
  border-radius: 0.25rem;
  box-shadow: @black-4 0px 0px 5px;
}