// Global Layouts

// Margins and Padding
// ------------------------------------------
@mar-xxl:         4rem;
@mar-xl:          2rem;
@mar-l:           1rem;
@mar-m:         0.5rem;
@mar-s:        0.25rem;

@pad-l:        1.25rem;
@pad-m:        0.75rem;
@pad-s:         0.5rem;


// Breakpoints
// ------------------------------------------
@phone-portrait:           0rem;
@tab-portrait:            48rem;
@desktop-portrait:        64rem;

@phone-landscape:          0rem;
@tab-landscape:           48rem;
@desktop-landscape:       64rem;